.password {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 32px;
    background-color: var(--color-dark-grey);

    input {
      font-family: var(--font-normal);
      font-size: 32px;
      color: var(--color-almost-white);
      background: transparent;
      border: none;
      flex: 1;
      width: 0px;

      &::placeholder {
        color: var(--color-grey);
        opacity: 1;
      }
    }
  }

  &__copy {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 38px;

    span {
      font-family: var(--font-normal);
      font-size: 18px;
      color: var(--color-neon-green);
      text-transform: uppercase;
      white-space: nowrap;
      margin-right: 10px;
    }

    button {
      width: 21px;
      height: 100%;

      svg {
        color: var(--color-neon-green);
        transition: var(--transition);
      }
    }

    button:hover {
      svg {
        color: var(--color-almost-white);
        transition: var(--transition);
      }
    }
  }
}
