.password-generator {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 540px;
    margin: 50px;

    h1 {
      font-family: var(--font-normal);
      color: var(--color-grey);
      margin: 0;
    }
  }

  &__bottom {
    background-color: var(--color-dark-grey);
  }

  &__generate-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    gap: 20px;
    width: 100%;
    background-color: var(--color-neon-green) !important;
    color: var(--color-dark-grey) !important;
    font-family: var(--font-normal) !important;
    transition: var(--transition);

    &:hover {
      background-color: var(--color-very-grey) !important;
      border: 1px solid var(--color-neon-green) !important;
      color: var(--color-neon-green) !important;
      transition: var(--transition);

      svg {
        color: var(--color-neon-green);
        transition: var(--transition);
      }
    }
  }

  &__button-container {
    padding: 32px;
  }
}
